  <div style=" text-align: justify;text-justify: inter-word;" class="col-xs-9 col-sm-9">

  <h3>About RxMAGIC</h3>

  <p>Free clinic dispensaries face immeasurable challenges due to a complex, diverse, and medically vulnerable patient population 
  in addition to a limited medication formulary. Our goal is to help pharmacists effectively and efficiently manage their resources 
  while providing quality pharmaceutical services. By improving management tools and reducing duplicate efforts, we believe an information
  system at the dispensary level will mitigate workflow challenges, improve provider communication, and enhance the process of medication 
  management. Therefore, we created a system for Prescription Management and General Inventory Control (RxMAGIC) as an open source software 
  platform that is designed to facilitate dispensary workflow and improve medication and inventory management.</p>
    
  <h3>Who is RxMAGIC?</h3>
  <p>RxMAGIC is a collaborative effort led by the University of Pittsburgh Department of Biomedical Informatics and the Birmingham Free 
  Clinic, a free, walk-in clinic serving a medcially vulnerable population in Pittsburgh, Pennsylvania.</p>
  
  <h3>RxMAGIC Features</h3>
  <p> 
    <ul style="list-style-type:disc">
      <li>Inventory control</li>
      <li>Electronic dispensing</li>
      <li>Electronic reporting</li>
    </ul>
  </p>

  <p>
    You can watch the video tutorial for RxMAGIC <a href="https://youtu.be/BRMK-JLuYOg">here</a>
  </p>
</div>
