<div style=" text-align: justify;text-justify: inter-word;" class="col-xs-12 col-sm-12">
  <h3>Frequently asked questions</h3>
  <div class="panel-group" id="accordion">
    <div class="panel panel-info">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
        <h4 class="panel-title accordion-toggle">
          1. Do I need UPMC credentials to login to RxMAGIC?
        </h4>

      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          A: Yes, RxMAGIC uses the same user management framework as UPMC,
          thus you need UPMC credentials to login to RxMAGIC.
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
        <h4 class="panel-title accordion-toggle">
          2. I am clicking on things on the homepage, like the dispense button, and nothing is happening.
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          A: If RxMAGIC seems unreasonably slow, give it a few minutes before clicking on something.
          If you are still having problems, contact the support team.
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
        <h4 class="panel-title accordion-toggle">
          3. Why aren't medication orders showing up in RxMAGIC, do I need to wait for them to be signed?
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          A: Yes, the orders need to be signed before they are sent to RxMAGIC. The signing process in the EHR initiates
          the electronic transmission of the medication order.
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
        <h4 class="panel-title accordion-toggle">
          Collapsible Group Item #2
        </h4>

      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
        <h4 class="panel-title accordion-toggle">
          Collapsible Group Item #3
        </h4>

      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".panel-heading").addClass("collapsed");
</script>