<%= javascript_include_tag 'jquery-1.12.0.min.js' %>
<%= javascript_include_tag 'jquery.slimscroll.js' %>
<style>
    img.main{
        height: 35px !important;
        padding-right: 10px;
        vertical-align: top;
    }
    a.heading {
        color: #006699;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
    }
</style>

<div class="row row-offcanvas row-offcanvas-right" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-9">
    <h2 style=" font-size: 15px;" class="panel-title">Prescription Management </h2>
    <hr style="border-color: black"/>
    <div class="row">
          <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
            <table cellpadding="10px">
              <tr>
                <td valign="top" rowspan="2" >
                  <img class="main" src="/assets/dispense.png" >
                </td>
                <td>
                  <a href="/prescription/" class="heading">Dispense</a>
                </td>
              </tr>
              <tr>
                <td>
                  Fill prescriptions sent from Epic.
                </td>
              </tr>
            </table>
          </div><!--/.col-xs-6.col-lg-4-->
      <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
        <table cellpadding="10px">
          <tr>
            <td valign="top" rowspan="2" >
              <img class="main" src="/assets/patient.png" >
            </td>
            <td>
              <a href="/patient" class="heading">Patient Management</a>
            </td>
          </tr>
          <tr>
            <td>
              Manage PMAP, patient details and refill prescriptions.
            </td>
          </tr>
        </table>
      </div><!--/.col-xs-6.col-lg-4-->

    </div>
    <br/>
    <h2 style="font-size: 15px;" class="panel-title">Inventory Control</h2>
    <hr style="border-color: black"/>
    <div class="row">
      <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
        <table cellpadding="10px" >
          <tr>
            <td valign="top" rowspan="2" >
              <img class="main" src="/assets/general_inventory.png" >
            </td>
            <td>
              <a class="heading" href="/general_inventory/">General Inventory</a>
            </td>
          </tr>
          <tr>
            <td>
              Enter and manage general medications.
            </td>
          </tr>
        </table>
      </div><!--/.col-xs-6.col-lg-4-->
      <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
        <table cellpadding="10px">
          <tr>
            <td valign="top" rowspan="2" >
              <img class="main" src="/assets/pap_inventory.png" >
            </td>
            <td>
              <a class="heading" href="/pmap_inventory/">PMAP Inventory</a>
            </td>
          </tr>
          <tr>
            <td>
              Enter and manage PMAP medications.
            </td>
          </tr>
        </table>
      </div><!--/.col-xs-6.col-lg-4-->

      <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
        <table cellpadding="10px">
          <tr>
            <td valign="top" rowspan="2" >
              <img class="main" src="/assets/inventory_management.png" >
            </td>
            <td>
              <a href="/drug_threshold/" class="heading">Inventory Management</a>
            </td>
          </tr>
          <tr>
            <td>
              Manage inventory thresholds for medication.
            </td>
          </tr>
        </table>
      </div><!--/.col-xs-6.col-lg-4-->
    </div><!--/row-->
    <br/>
    <h2 style="font-size: 15px;" class="panel-title">Documentation</h2>
    <hr style="border-color: black"/>
    <div class="row">
      <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
        <table cellpadding="10px">
          <tr>
            <td valign="top" rowspan="2">
              <img class="main" src="/assets/report.png" >
            </td>
            <td>
              <a class="heading">Activity Sheet</a>
            </td>
          </tr>
          <tr>
            <td>
              Manage pharmacy activity sheet.
            </td>
          </tr>
        </table>
      </div><!--/.col-xs-6.col-lg-4-->
        <div style="margin-top: 5px;" class="col-xs-6 col-lg-4">
          <table cellpadding="10px">
            <tr>
              <td valign="top" rowspan="2">
                <img class="main" src="/assets/americorp.png" >
              </td>
              <td>
                <a class="heading">PMAP Reorders</a>
              </td>
            </tr>
            <tr>
              <td>
                View PMAP medications to be reordered this week.
              </td>
            </tr>
          </table>
        </div><!--/.col-xs-6.col-lg-4-->
    </div>
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" id="sidebar" >
    <div class="panel panel-primary" style="height: 76vh" >
      <div class="panel-heading">
        <h3 style=" font-size: 20px;" class="panel-title">Alerts</h3>
      </div>
      <div id="alerts" style="overflow: auto;" class="panel-body">
        <%= render '/news/feed' %>
      </div>
    </div>
  </div>
  </div><!--/.sidebar-offcanvas-->
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title">Ignore Alert</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to ignore this alert?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <a class="btn btn-danger btn-ok" id="btnIgnore">Yes</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#alerts').slimScroll({
            height: '95%'
        })
    })
</script>