<div class="page-header" style="margin: 0px !important;padding: 0px !important;">
  <h4><%=t '.title', :default => 'Dispesation' %></h4>
</div>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading primary">
        <h3 class="panel-title">Patient Details</h3>
      </div>
      <div class="panel-body"> Panel Content </div>
    </div>

  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading primary">
        <h3 class="panel-title">Prescription Details</h3>
      </div>
      <div class="panel-body"> Panel content </div>
    </div>

  </div>
</div>

