<a href="#" class="list-group-item">
  <table style="width: 100%">
    <tr>
      <td><img src="/assets/dispense_small.png"></td>
      <td><h5 class="list-group-item-heading">New Prescription</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="list-group-item-text">90 tablets of Tenormin 50 Mg Oral Tablet for Douglas Cook</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button style="width: 60%;float: right" class="btn btn-xs btn-info" type="button">Dispense</button>
      </td>
    </tr>
  </table>
</a>
<a href="#" class="list-group-item">
  <table style="width: 100%">
    <tr>
      <td><img src="/assets/expiring.png"></td>
      <td><h5 class="list-group-item-heading">Item about to expire</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="list-group-item-text">Naprosyn 250 MG Oral Tablet with lot number: LK-965 expires in 6 days.</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button style="width: 60%;float: right" class="btn btn-xs btn-danger" type="button">Void</button>
      </td>
    </tr>
  </table>
</a>
<a href="#" class="list-group-item">
  <table style="width: 100%">
    <tr>
      <td><img src="/assets/pmap.png"></td>
      <td><h5 class="list-group-item-heading">PMAP: Low Inventory</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="list-group-item-text">Mario Christiansen has 90 tablets of Clozaril 25 Mg Oral Tablet remaining. Consider re-ordering. </p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button  class="btn btn-xs btn-danger" type="button">Dismiss</button>
        <button style="width:60%;float: right;" class="btn btn-xs btn-info" type="button">Add to Activity Sheet</button>
      </td>
    </tr>
  </table>
</a>
<a href="#" class="list-group-item">
  <table style="width: 100%">
    <tr>
      <td><img src="/assets/general_inventory_small.png"></td>
      <td><h5 class="list-group-item-heading">General: Low Inventory</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="list-group-item-text">Zestril 5 Mg Oral Tablet stock below minimum required level.</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button style="" class="btn btn-xs btn-danger" type="button">Dismiss</button>
        <button style="width:60%;float: right;" class="btn btn-xs btn-info" type="button">Add to Activity Sheet</button>
      </td>
    </tr>
  </table>
</a>
<a href="#" class="list-group-item">
  <table style="width: 100%">
    <tr>
      <td><img src="/assets/move.png"></td>
      <td><h5 class="list-group-item-heading">Unutilized PMAP Item</h5></td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="list-group-item-text">Consider moving Tenormin 50 Mg Oral Tablet for Felisa Hopkins to General stock.</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button  class="btn btn-xs btn-danger" type="button">Dismiss</button>
        <button style="width:60%; float: right;" class="btn btn-xs btn-info" type="button">Transfer Item</button>

      </td>
    </tr>
  </table>
</a>
