facility_name : Birmingham Free Clinic
user_management_protocol: http
user_management_server: localhost
user_management_port: port
user_management_login: /remote_login/
user_management_logout: /remote_logout/
user_management_name: username
user_management_password: password
user_management_authenticate: /remote_authentication/
