facility_name : Birmingham Free Clinic
facility_phone_number : 412 481 7900, Ext. 281
authentication: local #local,remote,ldap
ldap_host:localhost
ldap_port: port
ldap_base: ldap_base
ldap_service_name: ldap_service_name
ldap_service_password: password
user_management_protocol: http
user_management_server: localhost
user_management_port: port
user_management_login: /remote_login/
user_management_logout: /remote_logout/
user_management_name: username
user_management_password: password
user_management_authenticate: /remote_authentication/
