<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear RxMAGIC Team,
    <p>
      Find below a message from <%= @from %>
    </p>

    <p>
      <%= @body %>
    </p>
    <p>
      From <%= @from %> <br/> <%= @contact_email %>
    </p>
  </body>
</html>

